<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create</title>
  </head>

  <style>
    html {
      font-size: 20px;
    }

    input, textarea {
      margin-bottom: 20px;
    }
  </style>
</html>

<h1>create an entry</h1>

<form action="api/create" method="post">
  <label for="program">program: </label><br>
  <input name="program" type="text" id="program" required placeholder="Bachelor of Science in Foobar"><br>

  <label for="institution">institution: </label><br>
  <input name="institution" type="text" id="institution" required placeholder="University of the Eastern East"><br>

  <label for="csv">csv: </label><br>
  <textarea id="csv" name="csv" required placeholder="2015,10&#10;2016,12"></textarea><br>

  <input type="submit" value="Create">
</form>
